@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 9px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
h1 {
    font-weight: bold;
}
body {
	background: white;    
}
input {
	background-color: white;;
    border-color: #FF4B2B;
	padding: 5px 7px;
	margin: 8px 0;
	width: 12%;
	font-size: 17; 
}   
label {
    font-size: 19px;
}

h3 {
    font-size: 21px;
}
span {
    font-family: Montserrat;
}